section#dockerfile
  section
    h2 Dockerfile
    br
    p.content
      | Dockerfile's give you the ability to repeatable create images that contain
      | application configuration and data.  
    br
    p.content
      | A Dockerfile has the following required pieces (Sample found
      a(href="https://gist.github.com/wrightcoder/d1f7adc60ae419731a75")  here 
      |  )
      ul
        li 
          code FROM
        li 
          code RUN
        li 
          code ADD
        li
          code ENV
        li 
          code EXPOSE
        li 
          code CMD/EXEC
        
