section#architecture
  section
    h2 Docker Architecture 
    br
    p.content
      | Docker has 3 main items that are part of the architecture
      ul
        li Images
          p.content.definition
            | Images are the initial templates for all running "containers".  They are built
            | on top of "layers" of filesystem changes
        li Registries
          p.content.definition
            | Registries are the hosts of the images and the layers that make up the images
            | providing an alias based solution to pull images
        li Containers
          p.content.definition
            | Built from images and contains information around how to run, what 
            | configuration to apply.  This adds a read-write layer on top of the image.
 
