section#structure
  section
    h2 Docker Pieces
    br
    p.content
      | Docker is made up of two main pieces that we need to be aware of to use the service
      | properly
    ul
      li The daemon
        p.definition
          | This piece is responsible for fetching the different layers of an image
          | and running the actual container
      li The client
        p.definition
          | This is just a thin client allowing you to communicate with any daemon
    
