section#installation
  section
    h2 Docker Installation 
    br
    p.content
      | Docker currently only has one available daemon, and that daemon runs on 
      | linux machines. So for linux installations the process can be simple. 
    br
    p.content
      | Windows and Mac users instead can use the native client, but must run the
      | the daemon within a linux environment.  This can be accomplished by using
      | a virtual machine (or pre-built tool) 
      ul
        li 
          a(href="https://boot2docker.io/") Boot2Docker
        li
          a(href="https://kitematic.com/") Kitematic (Mac Only)
 
