section#commands
  section
    h2 Common Commands 
    ul 
      li 
        code docker ps (-a)
      li 
        code docker pull
      li 
        code docker run
      li
        code docker rm/rmi (-v)
      li 
        code docker build

