section#why
  section
    h2 So Why Docker 
    br
    p.content
      | Within our org we already use tools that manage dependencies, both with node
      | (using npm) and with java (using maven).  Why do we need docker?
    br
    p.content
      | Docker solves the problem of dependencies that you have on the OS level, rather
      | than at the application level. These include some annoying issues. 
    ul
      li Packages
        p.content.definition
          | The package you want installed doesn't exist anymore
      li Security
        p.content.definition
          | The OS version you use is outdated but can't wait for ops upgrade
      li Resource Allocation
        p.content.definition
          | You want to share resources, but have conflicting installations

    
