__pycache__
venv
output
*.swp
.bundle
.DS_Store
.sass-cache
.gist-cache
.pygments-cache
.preview-mode
_deploy
public
sass.old
source.old
source/_stash
source/stylesheets/screen.css
vendor
node_modules
*.orig
*BACKUP*
*BASE*
*REMOTE*
*LOCAL*
.ipynb_checkpoints
.vscode
