section#fs-git
  section
    h2 Git in FS
    p
      | The decision to use git is based on its amazing ability to be a 
      | distributed scm, which means that every machine has a full copy 
      | of the history.  
    h3 topics
    ul
      li architecture
      li folder structure
      li config
      li gitignore
      
      
      
