section#git-commands
  section
    h2 Commands
    ul
      li init
      li clone
      li pull
      li push
      li merge / rebase
      li reset / checkout
      li log
      li mergetool
        
