section#github
  section
    h2 Github
    p
      | To host our git code, we are using github. 
    p 
      | We have two seperate github organizations used in the org
      ul
        li 
          a(href="https://github.com/fs-webdev/") fs-webdev  
        li    
          a(href="https://github.com/fs-eng") fs-eng  
    br
    h3 tools
    ul
      li pull requests
      li releases
      li branches / tags
