section#overview
  section
    h2 SCM
    p
      | Source control is important in an organization to allow multiple
      | users to work on the same codebase.  
    p
      | Within our org we are use 2 different SCM systems. 
      ul
        li 
          a(href="https://subversion.apache.org/") subversion 
        li  
          a(href="https://git-scm.com/") git
    
