section#subversion
  section
    h2 Subversion
    p
      | To use subversion in our org you need to have it installed and then 
      | setup to support the mime-types supplied.   
    br
    p
      | Our subversion system can be found at 
    p
      a(href="https://vcs.fsglobal.net/viewvc/") https://vcs.fsglobal.net/svn
    br 
    p
      | To use this repo you need to have the proper configuration
    p 
      | An example of this configuration can be found 
      a(href="https://gist.github.com/wrightcoder/ad947cd07518223b2953") here
    br
    p
      | Note that the org is in the process of moving completely to git 
      | so we will not be discussing much in the concepts around subversion. 
