section#microservices
  section
    h1 Microservices
    br
    h3 Four Tier Application Architecture

    .offset
      p.content
        | Benefits
        ul.left
          li Faster Deploy Times
          li Easier Testing
          li SRP

  section
    image(src="img/ooda-loop1.png") 

  section
    h1 Some Best Practices
    br
    .offset
      p.content
        ul.left
          li Seperate Data Store
          li Similar Level of Maturity
          li Seperate Build for each
          li Deploy in Containers
          li Servers are STATELESS

  aside.notes
    | "It’s becoming increasingly clear that if you keep using development processes and application architectures 
    |  that worked just fine ten years ago, you simply can’t move fast enough to capture and hold the interest 
    |  of mobile users who can choose from an ever-growing number of apps." - Nginx Blog Post
    |   
    | Why do we want to move towards Microservices?  
    |  "Netflix made an early decision to optimize for speed. This refers specifically to tooling your software 
    |  development process so that you can react quickly to what your customers want, or even better, can create 
    |  innovative ... experiences that attract customers."  
    | 
    | At netflix it is encouraged for the mindset of the team to change (OODA) to better facilitate microservices
    |  
    | The one main takeaway is that a microservice really should fit the principles inside of good OOP, namely 
    |  that a service has one purpose, should be able to be updated independantly of other services, and in fact
    |  should be able to be developed without needing the knowledge of the internals of the other microservices 
    |  (black box)
    |  
    | A comment I really like "Create a High Freedom, High Responsibility Culture with Less Process"   
    |   
    | OODA (https://www.nginx.com/blog/adopting-microservices-at-netflix-lessons-for-team-and-process-design/#culture)  
    |  Observe refers to examining your current status to look for places where you can innovate. You want your 
    |   company culture to implicitly authorize anyone who notices an opportunity to start a project to exploit it. 
    |   For example, you might notice what the diagram calls a “customer pain point”: a lot of people abandoning 
    |   the registration process on your website when they reach a certain step. You can undertake a project to 
    |   investigate why and fix the problem.
    |   
    | Orient refers to analyzing metrics to understand the reasons for the phenomena you’ve observed at the 
    |   Observe point. Often this involves analyzing large amounts of unstructured data, such as log files; this 
    |   is often referred to as big data analysis. The answers you’re looking for are not already in your business 
    |   intelligence database. You’re examining data that no one has previously looked at and asking questions that 
    |   haven’t been asked before.
    |    
    | Decide refers to developing and executing a project plan. Company culture is a big factor at this point. As 
    |   previously discussed, in a high-freedom, high-responsibility culture you don’t need to get management approval 
    |   before starting to make changes. You share your plan, but you don’t have to ask for permission.
    |     
    | Act refers to testing your solution and putting it into production. You deploy a microservice that includes 
    |   your incremental feature to a cloud environment, where it’s automatically put into an AB test to compare it 
    |   to the previous solution, side by side, for as long as it takes to collect the data that shows whether your 
    |   approach is better. Cooperating microservices aren’t disrupted, and customers don’t see your changes unless 
    |   they’re selected for the test. If your solution is better, you deploy it into production. It doesn’t have to 
    |   be a big improvement, either. If the number of clients for your microservice is large enough, then even a 
    |   fraction of a percent improvement (in response time, say) can be shown to be statistically valid, and the 
    |   cumulative effect over time of many small changes can be significant.
