section#microservices
  section
    h1 Microservices
    br
    h3 Four Tier Application Architecture

    .offset
      p.content
        | Benefits
        ul.left
          li Faster Deploy Times
          li Easier Testing
          li SRP

