section#needs
  section
    h2 Needs
    br
    p.content
      | So the question stands, what benefit would we get from a new build system? 
      ul
        li Simplicity
          p.content.definition
            | Jenkins has a lot of functionality, maybe to much.  
        li Visibility
          p.content.definition
            | We need better visibilty in code change impacts
        li Reproduceable
          p.content.definition
            | The process a build server uses, should be the same everywhere
        li Cross-Discipline Support
          p.content.definition
            | The UI engineers and BE engineers tools differ, but can be the same
 
    aside.notes
      | Here are my notes
