section#stash
  section
    h1 Stash
    br
    h3 Plugins to enhance stash

    .offset
      p.content
        | Stash has a lot of capabilities, but there are a few useful plugins. 
      ul.left
        li Sonar for Bitbucket Server
          p.content.definition
            a(href="https://marketplace.atlassian.com/plugins/ch.mibex.stash.sonar4stash") 
              | Integrate Sonar Metrics
        li Stash-Code-Coverage-Plugin 
          p.content.definition
            a(href="https://www.versioneye.com/java/com.atlassian.stash.plugin:stash-code-coverage-plugin/1.1.0") 
              | Code coverage
        li Merge Request Check Plugin Module (Custom)
          p.content.definition
            a(href="https://developer.atlassian.com/stash/docs/latest/reference/plugin-module-types/merge-check.html") 
              | Custom

