section#overview
  section
    h2 Overview
    br
    p.content
      | During this discussion we would like to discussion the hopeful future of our platform.
      ul
        li.title Validation
          p.content.definition
            | We would like to introduce 'fast-feedback' in hopes that bugs and errors can be
            | found sooner (hopefully before code even gets merged into main branches). 
        li.title Integration
          p.content.definition
            | Be able to stand up a new build in a system for automated testing to verify its
            | integration with existing components
        li.title Delivery
          p.content.definition
            | More quickly deliver new features to production even features that are in test
 
