html
  include layouts/slide-header
  
  style(type="text/css")
    | .reveal .slides p { text-align: left }
  
  body
    .reveal
      .slides
        section#title
          h1 SCM Training
          h2 FamilySearch Help Team
          br
          h3 This tutorial will go over some of the basics of git
          p
            small Discussion Lead: 
              a(href='https://almtools.ldschurch.org/fhconfluence/display/~mikekwright') Michael Wright
              |  /
              a(href='http://github.com/wrightcoder') wrightcoder
          
        include layouts/scm-training/overview.jade
        include layouts/scm-training/subversion.jade
        include layouts/scm-training/fs-git.jade
        include layouts/scm-training/git-commands.jade
        include layouts/scm-training/github.jade
        
    
    include layouts/slide-footer
