img.pics {
  width: 45%;
  height: 45%;
  vertical-align: middle;
}
p.content {
  text-align: left;
}
ul.content {
  text-align: left;
}
ul.left {
  width: 100%;
}
p.definition {
  font-style: italic;
  color: white;
}
li {
  color: lightgreen;
}
li.title {
  color: #000055;
}
div.offset {
  padding-left: 20px;
}
