section
  h1 bamboo
  br
  h3 Atlassian creates some great tools, bamboo is their build solution.  

  .offset
    p.content
      | Pros
      ul.left.offset
        li Uniform UI
        li Link to tools
        li Maven and Docker targets

  br
  .offset
    p.content
      | Cons
      ul.left.offset
        li Not OS
        li Simple things are hard


