section
  h1 Thoughtworks go
  br
  h3 Go is a simple pipeline tool that is OS and is easily extensible with plugins

  .offset
    p.content
      | Pros
      ul.left.offset
        li Simple UI
        li Easily Extended
        li Free and OS

  br
  .offset
    p.content
      | Cons
      ul.left.offset
        li Not built for complicated builds
        li No central location for plugins


