section
  h1 Others
  br
  p.content
    | There are a few other choices that have been discussed only briefly

  .offset
    ul.left
      li Teamcity
      li Snap-CI
      li ElectricFlow
      li AWS CodePipeline

  aside.notes
    | Teamcity is a great tool, but it is on the pricey side where the charge is per
    |  agent rather than per user (max agents is around $21K). 
    |  
    | Snap-CI is a great tool as well, a hosted solution that is created by the makers
    |  of go, however to make it work there could potentially be a lot of security 
    |  concerns.  Not the visibility of the build machine itself, but in the requirement
    |  for a hosted solution to have access to our internal systems.  
    | 
    | ElectricFlow does not have a lot of knowledge around it, and while it does cater to 
    |  ops and dev collaboration it doesn't feel like it is aiming toward our solution  
    | 
    | AWS CodePipeline is a neat tool, but does require that our solution be fully hosted
    |  (generally speaking) in AWS, as well as it may become more costly.  

    
