section
  h1 Our Winner?
  br
  br
  h2 Thoughtworks Go

  aside.notes
    | The important thing to note here is that while this is our winner, it wasn't because it
    |  already had a lot of supported to do a lot of different things.  Instead it was because we 
    |  felt that it was simple enough to not be confusing and would better target our endgoal
    |  of microservices.   
